<!DOCTYPE html>
<!--Go away, there's nothing here for you-->
<html lang="en">
  <head>
    <title>RM API - 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">404 :(</h1>
        <p class="lead"><code><%= path %></code> doesn't exist on this server. Either the URL is not correct or this route/resource no longer exists.</p>
        <a href="/">Go home</a>
      </div>
    </div>
  </body>
</html>